*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background-color: #520dc2;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased , !important;
    color: #fff;
}

.card{
    width: 100%;
    max-width: 350px;
    height: 300px;
    margin: 30px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.card-header{
    text-align: center;
    font-size: 24px;
}

.card-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin: 0 auto;
}

.card-body input{
    margin-bottom: 10px;
    width: 100%;
    height: 35px;
    padding: 10px;
    border: 0px solid;
    border-radius: 5px;
}

.card-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 20px;
}

button{
    width: 100%;
    max-width: 100px;
    height: 35px;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button#register{
    background: #0d6efd;
}

button#enter{
    background: #20c997;
} 